.editdialog{
    width: 400px;
    padding: 0 24px;
    margin-bottom: 40px;
}

.dialog-label,
.dialog-textbox {
    color: #333;
}

.dialog-label {
    display: block;
    margin-top: 40px;
    font-size: .9em;
}

.dialog-textbox {
    width: 95%;
    padding: 5px 10px;
    font-size: 1em;
    line-height: 1.5;
    border: none;
    outline: none;
    border-bottom: 2px solid #999;
}
.dialog-textbox:focus{
    border-bottom-color: #e20000;
}

.dialog-selectbox {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.dialog-selectbox::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.dialog-selectbox select {
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: none;
    border-bottom: 2px solid #cccccc;
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}

.dialog-selectbox select:focus {
    outline: none;
}

.dialog-file {
    padding: 15px 0;
}
.dialog-filelabel{
    display: flex;
    flex-direction: column;
}

.dialog-radio{
    padding: 15px 0;
}

/* .radio-001 {
    display: flex;
    flex-wrap: wrap;
    gap: .3em 2em;
    border: none;
}

.radio-001 label {
    display: flex;
    align-items: center;
    gap: 0 .5em;
    position: relative;
    cursor: pointer;
}

.radio-001 label::before,
.radio-001 label:has(:checked)::after {
    border-radius: 50%;
    content: '';
}

.radio-001 label::before {
    width: 18px;
    height: 18px;
    background-color: #e6edf3;
}

.radio-001 label:has(:checked)::after {
    position: absolute;
    top: 50%;
    left: 9px;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #2589d0;
    animation: anim-radio-001 .3s linear;
}

@keyframes anim-radio-001 {
    0% {
        box-shadow: 0 0 0 1px transparent;
    }
    50% {
        box-shadow: 0 0 0 10px #2589d033;
    }
    100% {
        box-shadow: 0 0 0 10px transparent;
    }
}

.radio-001 input {
    display: none;
} */