.header {
    display: flex;
    border-bottom: 1px solid #7D7D7D;
}

.headerprofile {
    display: flex;
    margin: auto 8px auto auto;
}

@media screen and (max-width: 959px) {
    .header {
        font-size: 0.9rem;
    }
}