a {
    text-decoration: none;
    color: #C0C0C0;
    ;
}

.sideiconwrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto 4px;
    padding: 4px;
    border-radius: 8px;
}

.sideiconwrapper:hover {
    cursor: pointer;
    background-color: #474747;
}

.sidebox {
    display: flex;
    user-select: none;
}

.sidebox.child {
    padding-left: 16px;
}

.sideicon {
    width: 24px;
    height: 24px;
}

.sideicontext {
    font-size: 0.9rem;
    width: 90%;
    margin: 0;
    padding-left: 8px;
}